lectures/SoSe18/
lectures/SoSe2019/
lectures/WiSe1819/
lectures/WiSe1920/
lectures/Daten/

2020/r-basics/video_data-types.html

2020/r-basics/video_data-types.Rmd

2020/sample_project/Opioidkrise/.Rhistory
